/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
    overflow-x: hidden;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

main {
    padding: 2rem;
}

section {
    margin-bottom: 2rem;
}

.intro h2, .team h2, .contact h2 {
    color: #333;
}

.team {
    background: #fff;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.team-member {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}


.team-member h3 {
    margin: 1rem;
}

.contact a {
    color: #333;
    text-decoration: none;
}

.contact a:hover {
    text-decoration: underline;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    width: 100%;
    bottom: 0;
}
.navbar{
    display: flex;
    padding: .8rem;
    margin-bottom: 1rem;
    height: 25%;
    width: 98%;
    justify-content: flex-end;
    align-items: center;
    background-color: black;
    h3{
        margin-right: auto;
        margin-left: 0.9rem;
        color: white;
    }
    h3:hover{
        color: rgb(194, 189, 189);
        cursor: pointer;
    }
    a:hover{
        cursor: pointer;
        color: rgb(194, 189, 189);
    }
    li{
        list-style: none;
        margin: 0.5rem;
    }
    a{
        color: white;
        text-decoration: none;
    }

}